/* #content {
    min-height: 100px;
} */

/* .ui.grid {
    padding: 0;
    
} */
.container {

}

.ui menu {
    height: auto;
}

nav ul{
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

/* response form ticketmaster's event lists 
.ui segment {
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
} */


.pushable.segment {
    margin: 0 ;
}



/* .mobile-page-title{
    text-align: center;
    width:100%;
    margin-left: -53.52px;
    margin-top: auto;
    margin-bottom:auto;
} */

/* .desktop-page-title{
    text-align: center;
    margin-top: auto;
    margin-bottom:auto;
    margin-left:2px;
} */

.hideItem{
    display:none;
    padding:0px;
    margin:0px;
    width:0%;
}

.flex-wrapper{
    width:100%;
    display: flex;
    margin-top:30px;
    justify-content: center
}

.search-input{
    margin-top:5px;
    margin-bottom:10px;
    margin-left:5px; 
    justify-content: flex-start;
}
#search-button{
    margin-top:5px;
    margin-bottom:10px;
    margin-left: 10px;
}

.ui.segment {
    display: flex;
    align-content: center;
    align-items: center;
}

.masthead.segment {
    min-height: 375px;
}

.footer.segment {
    min-height: 125px;
}

@media only screen and (max-width: 400px){
    .flex-wrapper{
        display: block;
    }
    .btn-flex-wrapper{
        width:100%;
        display: flex;
    }
    /* .search-button{
        width: 80%;
        margin-left:auto !important;
        margin-right:auto !important;
    } */
}
/* Date of events, sits below Name of Event. */
span.date {
    color: crimson;
    font-weight: bold;
}
span.date::before {
    content: 'Date - ';
    color:crimson;
}